# Question 1

In [1]:
x = [1, 2, 3]
y = 'bootcamp'
z = x + y
#this code gives an error because x is a numeric list and y is a string, that cannot be added together.

TypeError: can only concatenate list (not "str") to list

# Question 2

In [2]:
type(x)

list

In [3]:
type(y)

str

In [4]:
len(x)

3

In [5]:
len(y)

8

# Question 3

In [13]:
x=2
type(x)
#this is an integer, which we can tell by typing type

int

In [14]:
x='2'
type(x)
#this is a string

str

In [16]:
x=2.0
type(x)
#this is a float

float

In [17]:
x="2.0"
type(x)
#this is a string

str

In [20]:
x=2>1
type(x)
#this is a boolean value

bool

In [21]:
x='Itamar'>'Chase'
type(x)
#this is a boolean value

bool

In [22]:
x=[1,2]
type(x)
#This is a list

list

In [23]:
x=(1,2)
type(x)
#this is a tuple

tuple

In [24]:
x={1: 'one', 2: 'two'}
type(x)
#this is a dict

dict

# Question 4

In [25]:
1>=0

True

In [26]:
1 >= 1

True

In [27]:
1 > 1

False

In [28]:
1==1

True

In [29]:
1==1.0

True

In [30]:
'Spencer'=="Spencer"

True

In [31]:
2**3 > 3**2

False

In [32]:
1 >= 0 or 1<= 2

True

In [33]:
1 >= 0 and 1<= 2

True

# Question 5

In [36]:
if 2>1
    print('Yes, 2 is greater than 1')
#the code runs with an error because there is no conol after if statement

SyntaxError: invalid syntax (<ipython-input-36-68202091bc03>, line 1)

In [37]:
if 2>1:
    print('Yes, 2 is greater than 1')

Yes, 2 is greater than 1

# Question 6

In [40]:
if True:
    print ('on the one hand')
else:
    print('but on the other hand')
#the condition is true, therefore, it printed "on the other hand". It ignored the else condition because 
#it says True first, not false.

on the one hand

In [41]:

if False:
    print ('on the one hand')
else:
    print('but on the other hand')
#it printed "but on the other hand" because else tells python what to do if "if" condition is False.

but on the other hand

In [43]:
if not True:
    print ('on the one hand')
else:
    print('but on the other hand')

    #not reverses True to False and we get the result as if it was false

but on the other hand

# Question 7

In [47]:
cond = True
if cond:
    x = "Chase"
else:
    x = "Dave"
print(x)
#the result is Chase because con is set to be True, therefore, it prints chase and disregards else condition.

Chase

# Question 8

In [51]:
x = [1,2,3,4]
y = ['x','y','z']
if len(x) >= len(y):
    print('x has more')
else:
    print("y has at least as many")

x has more

# Question 9

In [52]:
#Slicing allows us to access the elements of the string or list by assigning each item in the string a number
#(starting with 0). For example, when we have a='Oleksandra', if we want the first letter, we use a[0]. 
#Slicing goes backwards as well: for example, if we want the last letter, we use a[-1]

# Question 10

In [54]:
x = [1,2,3,4,5]
x[0]
#extracted the first element

5

In [55]:
x[-1]
#extracted the last element

5

In [56]:
x[0:-1]
#extracted all but the last

[1, 2, 3, 4]

# Question 11

In [65]:
sentence = 'This is a sentence; please slice it.'
sentence[0:4]

'This'

In [67]:
sentence[5:7]

'is'

In [60]:
sentence[8:9]

'a'

In [69]:
sentence[10:18]

'sentence'

In [70]:
sentence[20:26]

'please'

In [72]:
sentence[27:32]

'slice'

In [73]:
sentence[33:35]

'it'

# Question 12

In [75]:
x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]
x[0]
#slicing out the first item

1

In [76]:
x[-1]
#slicing out the last item

10

In [77]:
x[3:7]
#slicing out the items from b to 3 incluse

['b', 'fast', 'slow', 3]

# Question 13

In [78]:
x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]

for item in x:
    print(item)

1
2
a
b
fast
slow
3
Raghu
Liuren
10

# Question 14

In [125]:
x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]
for item in x:
     if type(item) == str:
            print(item)

a
b
fast
slow
Raghu
Liuren

# Question 15

In [107]:
range?

In [108]:
range(3,12,2)
#for this range, 3 is a starting number, it generates numbers until 12 (12 is not included) and the difference between
#each number in sequence is 2

In [113]:
list(range(3,12,2))

[3, 5, 7, 9, 11]

# Question 16

In [168]:
i = []
for numbers in range(0,31,3):
    i += [int(numbers)]
print(sum(i))

165

# Question 17

In [208]:
def pocket_change(pennies, nickels, dimes, quartersinyourpocket):
    dollarvalue = (pennies * 0.1) + (nickels * 0.05) + (dimes * 0.1) + (quartersinyourpocket * 0.25)
    return (dollarvalue)
def main():
    print('$' + str(pocket_change(1,2,3,4)))

main()
#print (pocket_change)

$1.5

# Question 18

In [225]:
x = [1234, 6783, 6, 4321, 9876]
def notsix(x):
##    if ((x)[0] != "6"):
##        return (notsix)
    tmp = []
    for a in x:
        if str(a)[0] != "6":
            tmp.append(a)

    return tmp


print(notsix(x))

[1234, 4321, 9876]

# Question 19

In [203]:
old_list = [1234, 6783, 6, 4321, 9876]
new_list = [x for x in old_list if str(x)[0] != "6"]

In [204]:
old_list

[1234, 6783, 6, 4321, 9876]

In [205]:
new_list
#the new list adds everything from the old_list except for the items that start 
#with number 6

[1234, 4321, 9876]

# Question 20

In [178]:
z = {1: 'one', 2: 'two', 3:'three'}
#a) z is a dict, which has a length of 3
type(z)
len(z)
#b)  the keys are: l, 2 and 3. The values are 'one', 'two', and 'three'.

3

In [187]:
z[2]

#c) this is how we get the value associated with key 2

'two'

In [194]:
z.keys()
#d) it prints all the keys in the dict z

dict_keys([1, 2, 3])

In [193]:
z.values()
#it prints all the values associated with the keys in the dict z

dict_values(['one', 'two', 'three'])

In [195]:
list(z.keys())
#e) it creates a list of all the keys in the dict z

[1, 2, 3]

In [196]:
list(z.values())
#f) it creates a list of all the values in the dict z

['one', 'two', 'three']

In [197]:
list(z)
#e) it creates a list of all the keys in the dict z

[1, 2, 3]